{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}